* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  color: wheat;
  border-radius: 51% 49% 14% 86% / 100% 100% 0% 0%;
  width: 400px;
  height: 400px;
  background: #f30000;
  background: -webkit-linear-gradient(to right,
      #fc6a6a,
      #550000);
  background: linear-gradient(to right,
      #fc6a6a,
      #550000);
}

.blue {
  color: wheat;
  border-radius: 51% 49% 14% 86% / 100% 100% 0% 0%;
  width: 400px;
  height: 400px;
  background: #0400ff;
  background: -webkit-linear-gradient(to right,
      #06d888,
      #0400ff);
  background: linear-gradient(to right,
      #06d888,
      #0400ff);
}

.home {
  color: wheat;
  border-radius: 51% 49% 14% 86% / 100% 100% 0% 0%;
  width: 400px;
  height: 400px;
  background: #c4fa00;
  background: -webkit-linear-gradient(to right,
      #08a4ff,
      #c4fa00);
  background: linear-gradient(to right,
      #08a4ff,
      #c4fa00);
}
}


